# Tous les fichiers du projet doivent être revus par @djibyfall
*       @djibyfall 

# Les fichiers du dossier "frontend" doivent être revus par @Fatou
frontend/*    @Fatou

# Les fichiers du dossier "backend" par @Ibrahima
backend/*     @Ibrahima

